<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.EmpMapper">
	<resultMap id="BaseResultMap" type="com.xiaoshu.entity.Emp">
		<!-- WARNING - @mbg.generated -->
		<id column="eid" jdbcType="INTEGER" property="eid" />
		<result column="ename" jdbcType="VARCHAR" property="ename" />
		<result column="sex" jdbcType="VARCHAR" property="sex" />
		<result column="age" jdbcType="INTEGER" property="age" />
		<result column="birthday" jdbcType="DATE" property="birthday" />
		<result column="did" jdbcType="INTEGER" property="did" />
		<result column="img" jdbcType="VARCHAR" property="img" />
	</resultMap>


	<resultMap id="ead" type="com.xiaoshu.entity.Emp">
		<!-- WARNING - @mbg.generated -->
		<id column="eid" jdbcType="INTEGER" property="eid" />
		<result column="ename" jdbcType="VARCHAR" property="ename" />
		<result column="img" jdbcType="VARCHAR" property="img" />
		<result column="sex" jdbcType="VARCHAR" property="sex" />
		<result column="age" jdbcType="INTEGER" property="age" />
		<result column="birthday" jdbcType="DATE" property="birthday" />
		<result column="did" jdbcType="INTEGER" property="did" />
		<association javaType="com.xiaoshu.entity.Dept"
			property="dept">
			<id column="did" property="did" />
			<result column="dname" property="dname" />
		</association>
	</resultMap>



	<sql id="Example_Where_Clause">
		<!-- WARNING - @mbg.generated -->
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<!-- WARNING - @mbg.generated -->
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbg.generated -->
		eid, ename, sex, age, birthday, did
	</sql>

	<select id="queryAllEmp" resultMap="ead"
		parameterType="com.xiaoshu.entity.Emp">
		select e.*,d.* from dept d,emp e
		<where>
			e.did=d.did
			<if test="ename!=null and ename!=''">
				and e.ename like '%${ename}%'
			</if>
		</where>
	</select>
	
	
	<select id="getTj" resultType="com.xiaoshu.entity.Tj">
select d.dname,count(e.eid) num from emp e,dept d where e.did=d.did group by e.did
	</select>
</mapper>